<div>
Select Branch:
<select id="Branches" name="Branches" ng-model ="selectedBranch">                                
    <option ng-repeat="x in allBranches" value={{x.name}}>{{x.name}} 
    </option>
</select>

<button value="printTop10Books" ng-click="printTop10Books(selectedBranch)">Search</button>
</br></br>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
</style>
<table>
<thead>
    <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Count</th>
    </tr>
    <thead>
    <tbody>
    
    <tr ng-repeat="x in top10Books | orderBy: 'title'">
        <td>{{x.ISBN}}</td>
        <td>{{x.title}}</td>
        <td>{{x.count}}</td>
    </tr>
    </tbody>
    
</table>