

<button class="button" value="searchBorrowedBook" ng-click="searchBorrowedBook()">Get List of Borrowed Books</button>
</br></br>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
</style>

<table>
<thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>ISBN</th>
    </tr>
    <thead>
    <tbody>
    
    <tr ng-repeat="x in borrowedBooks | orderBy: 'bookId'">
        <td>{{x.bookId}}</td>
        <td>{{x.title}}</td>
        <td>{{x.ISBN}}</td>
    </tr>
    </tbody>
    
</table>
</br> </br>
<div ng-show="returnSearchClicked">
<label > Enter Id of the Book You want to Return</label>

<input type="text" ng-model="returnBookId"/>

<button class="button" value="returnBook" ng-click="returnBook(returnBookId)">Return</button>
</div>
</div>

