<div>

<label > BookId </label>
<input type="text" ng-model="bookId"/>

<button value="SearchById" ng-click="searchById(bookId)">Search</button>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
</style>
<table>
<thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>ISBN</th>
    </tr>
    <thead>
    <tbody>
    <tr>
        <td>{{resultBookId}}</td>
        <td>{{title}}</td>
        <td>{{ISBN}}</td>
    </tr>
    </tbody>
</table>

</div>